<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>
    <main>
           <ul>
               <li v-for="tarea in tareas">
                   {{ tarea}}
               </li>
           </ul>
           <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
           <input type="button" value="Enviar Tarea">
            <pre>{{ $data }}</pre>

            <!-- EN un form -->
            <form v-on:submit.prevent="agregarTarea">
                <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
               <input type="button" value="Enviar Tarea" >
           </form>
            <pre>{{ $data }}</pre>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    
    <script src="main.js"></script>


</body>
</html>